<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        FHC
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi" rel="stylesheet"> 

    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<%- include partials/navbar.ejs %>



    <div class="container-fluid">
        <div class="row">
            <% _.forEach(data, function(val) { %>
            <div class="card ml-2">
                <div class="card-header bg-dark">
                    <h4 class="text-muted">GROUP</h4>
                </div>
                <form action="#" method="post" id="add-fav">
                    <div class="">
                        <div class="thumbnail">
                            <img alt="">
                            <div class="caption">
                                <div class="card-body">
                                    <h3 class="text-center"><%= val.name %></h3>
                                </div>
                            </div>
                            <div class="card-footer bg-dark">
                                <button class="btn btn-light add-fav">
                                    Add To Favs
                                </button>
                                <a href="/group/<%= val.name %>" type="button" class="btn btn-light">Go To</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <%  }) %>
        </div>

    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>