#brand-font {
    font-family: 'Baloo Thambi', cursive;
    font-size: 36px;
}

.my-accordion-btn {
    font-family: 'Baloo Thambi', cursive;
    font-size: 24px;
}

.text-card-header {
    font-family: 'Baloo Thambi', cursive;
    font-size: 48px;
    text-align: center;
}